body {
	padding-bottom: 25px;
}
.gray {
	color:#c6c6c4;
}
.blue {
	color:#1f5376;
}
.red {
	color:#D9534F;
}
.gray-bg {
	background-color: #f2f2f2;
}
.red-bg {
	background-color: #d9534f;
	color: white;
}
.vert-separator {
	border-left: 1px solid #c6c6c4;
}
.h-separator {
	margin-top: 25px;
	border-top: 2px solid #1269a9;
}
.btn-primary {
	color: #fff;
	background-color: #d9534f;
	border-color: #d9534f;
	font-size: 18px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #D14A47;
	border-color: #D14A47;
}

@media(max-width:767px){
	.container, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-right: 5px;
		padding-left: 5px;
	}
	.row{
		margin-right: -5px;
		margin-left: -5px;
	}
}
