body {
	padding-bottom: 25px;
}
.gray {
	color:#c6c6c4;
}
.blue {
	color:#1f5376;
}
.red {
	color:#D9534F;
}
.gray-bg {
	background-color: #f2f2f2;
}
.red-bg {
	background-color: #d9534f;
	color: white;
}
.vert-separator {
	border-left: 1px solid #c6c6c4;
}
.btn-primary {
color: #fff;
background-color: #d9534f;
border-color: #d9534f;
font-size: 18px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
color: #fff;
background-color: #D14A47;
border-color: #D14A47;
}