.search-tabs {
	border-top: 2px solid #1269a9;
	margin-top: 18px;
	position: relative;
}
.search-tabs .tab {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 18px;
}
.search-tabs form {
	margin-bottom: 0px;
	position: relative;
	top: -2px;
	color: #666666;
}
.search-tabs form label {
	margin-bottom: 0px;
	font-weight: normal;
	line-height: 34px;
}
.search-tabs form #part-code {
	width: 100%;
}
.search-tabs .form-group {
	margin-bottom: 0px;
}
.search-tabs form div>div {
	margin-top: 6px;
	margin-bottom: 5px;
	text-align: center;
}
.search-tabs  .code-tab .form-group>div {
	padding-left: 2px;
	padding-right: 2px;
}
.search-tabs .main-tab {
	font-size: 25px;
	text-align: center;
	line-height: 45px;
}
.search-tabs .arrow-container {
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
}
.search-tabs .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	
	border-top: 11px solid #d9534f;
	margin: 0 auto;
}

@media(min-width:1200px){
	.search-tabs .code-tab .form-group>div.btn-wrapper {
		padding-left: 20px;
	}
}