.top-search {
	margin-top: 25px;
}
.top-search form {
	padding: 10px;
	margin: 5px 0px;
}
.top-search .last.form-group {
	margin-bottom: 0px;
}
.top-search .main-search{
	border-radius: 5px;
	border: 1px solid #cccccc;
}
.top-search .search-form>div {
	padding: 5px 10px;
}
.top-search .search-form .title {
	font-size: 20px;
	margin-bottom: 15px;
}
.top-search .search-button {
	padding-left: 0px;
}
.top-search label {
	font-size: 18px;
	font-weight: normal;
}
.top-search .user-links {
	padding: 15px;
}
.top-search .user-links .title {
	font-size: 20px;
	color: #666666;
	margin-bottom: 5px;
}
.top-search .user-links .space {
	height: 15px;
}
.top-search .user-links li {
	font-size: 15px;
	line-height: 23px;
}
.top-search .benefits .benefits-title {
	color: #D9534F;
	font-size: 24px;
}
.top-search .benefits .basket-image img{
	margin-left:auto ;
	margin-right:auto ;
}
.top-search .benefits-list li {
	color: #666666;
	font-size: 16px;
}
.top-search .benefits ul {
	margin-bottom: 0px;
}

@media(max-width:767px){
	.top-search .user-links {
		margin-top: 20px;
	}
	.top-search .main-search {
		border: none;
	}
}
@media(min-width:1200px){
	.top-search .benefits .benefits-title  {
		font-size: 28px;
	}
	.top-search .benefits-list li {
		font-size: 18px;
	}
}